.new-game {
    background-color: inherit;
    border: 6px solid rgb(196, 196, 196);
    border-radius: 8px;
    font-size: 24px;
    font-weight: 700;
    padding: 6px 18px;
    margin-top: 30px;
    margin-bottom: 30px;

    transition: background-color 0.15s, color 0.15s;
}

.new-game:hover {
    background-color: rgb(196, 196, 196);
    color: rgb(68, 68, 68);
}

.game-container {
    height: 80hv;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-grid {
    display: grid;
    grid-template-rows: 160px 160px 160px;
    width: fit-content;
}

.game-grid button {
    background-color: inherit;
    border: 6px solid rgb(196, 196, 196);
    border-radius: 18px;
    margin: 10px;
}

.grid-row {
    display: grid;
    grid-template-columns: 160px 160px 160px;
}

.animate {
    animation-duration: 0.2s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
}

@keyframes animate-pop {
    0% {
        opacity: 0;
        transform: scale(0.5, 0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}