.game-container {
    height: 80hv;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-grid {
    display: grid;
    grid-template-rows: 200px 200px 200px;
    width: fit-content;
}

.game-grid button {
    background-color: inherit;
    border: none;
}

.middle-row button {
    border-top: 8px solid rgb(196, 196, 196);
    border-bottom: 8px solid rgb(196, 196, 196);
}

.game-grid button:nth-child(2) {
    border-left: 8px solid rgb(196, 196, 196);
    border-right: 8px solid rgb(196, 196, 196);
}

.grid-row {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    
}