body {
    background-color: rgb(68, 68, 68);
    font-family: Quicksand, Arial;
    color: rgb(196, 196, 196);
}

.tic-tac-toe {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: inherit;
    text-align: center;
    
}

button {
    cursor: pointer;
    color: inherit;
    font-family: Quicksand, Arial;
    font-size: 85px;
    font-weight: 600;
}