body {
    display: flex;
    flex-direction: column;
    flex: 1 4;
    background-color: rgb(68, 68, 68);
    color: rgb(196, 196, 196);
    font-family: Quicksand, Arial;
    overflow: hidden;
}

button {
    cursor: pointer;
    color: inherit;
    font-family: Quicksand, Arial;
    font-size: 85px;
    font-weight: 600;
}