body {
    background-color: rgb(68, 68, 68);
    font-family: Quicksand, Arial;
    color: rgb(196, 196, 196);
    height: 97vh;
}

.tic-tac-toe {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: inherit;
    text-align: center;
    
}

button {
    cursor: pointer;
    color: inherit;
    font-family: Quicksand, Arial;
}